.hidden {
    display: none;
  }
  
  * {
    font-family: 'Script';
  }
  
  .form-control {
      width: 50%; 
      height: 50%; 
      font-size: 15px; 
  }

  .comments {
      height: 200px;
      width: 45%;
      text-align: top-left;  
      
      

  }

  .heels-link {
    color: white; 
    background-color: black; 
    line-height:1.5; 
    width: 36em;
    margin: 0 auto;
    font-size: 16px;

  }
    
    
     


  .heels-card {
    max-width: 100%; 
    background-color: rgb(90, 49, 90);
    margin: auto; 
     
  
  }

  body {
    background-image: url('https://wallpapertag.com/wallpaper/full/0/d/e/913150-widescreen-background-glitter-1960x1307-for-android-tablet.jpg');
    background-repeat: repeat; 
    color: white;  
    font-weight: normal;    
    
  }

  .banner {
    width: 100%; 
  }
  
  .container {
    text-align: center; 
  }

  .pumps {
    width: 150px;
    height: 150px; 
  }

  .glitter {
    width: 150px;
    height: 150px;
  }

  .kitten {
    width: 150px;
    height: 150px;
  }

  .lace {
    width: 150px;
    height: 150px; 
  }

  .low {
    width: 150px;
    height: 150px; 

  }

  .mid {
    width: 150px;
    height: 150px; 
  }

  .high {
    width: 150px;
    height: 150px; 
  }

  .wedge {
    width: 150px;
    height: 150px; 
  }

  .sandal {
    width: 150px;
    height: 150px; 
  }
  .mule {
    width: 150px;
    height: 150px;
  }

  .block {
    width: 150px;
    height: 150px;
  }

@media screen and (min-width:480px) {
  .heels-card {
    max-width: 75%;
  }
}

@media screen and (min-width:800px) {
  .banner {
     width: 57%;
  }
}

